<template>
  <div class="layout-padding docs-input row justify-center">
    <div style="width: 500px; max-width: 90vw;">
      <h4 class="text-center">Authentication</h4>
      <p class="caption">Enter Your Email And Password</p>
      <flash-message />
      <q-alert
        type="negative"
        ref="destroyableAlert"
        enter="bounceInRight"
        leave="bounceOutLeft"
        v-show="error"
        dismissible
      >
        {{ error }}
      </q-alert>
      <q-field icon="fa-user">
        <q-input v-model.trim="form.email"
                 @blur="$v.form.email.$touch"
                 @input="$v.form.email.$touch"
                 @change="clearError"
                 type="email"
                 :error="$v.form.email.$error"
                 float-label="Email"/>
        <div class="q-field-bottom row no-wrap" v-if="$v.form.email.$error">
          <div class="q-field-error col" v-if="!$v.form.email.required">email field is required</div>
          <div v-else-if="!$v.form.email.email" class="q-field-error col">invalid email format</div>
        </div>
      </q-field>
      <q-field icon="fa-lock">
        <q-input v-model="form.password"
                 type="password"
                 @input="$v.form.password.$touch"
                 @change="clearError"
                 :error="$v.form.password.$error"
                 float-label="Password"/>
        <div class="q-field-bottom row no-wrap" v-if="$v.form.password.$error">
          <div class="q-field-error col" v-if="!$v.form.password.required">password field is required</div>
        </div>
      </q-field>
      <q-btn loader color="primary" icon="fa-lock" @click="handleLogin">
        Login
        <span slot="loading"><q-spinner-radio class="on-left"/>Authenticating</span>
      </q-btn>
    </div>
  </div>
</template>

<script>
  import {required, email} from 'vuelidate/lib/validators'
  import * as auth from '../../auth'
  import * as env from '../../env'
  import _ from 'lodash'
  import axios from 'axios'
  import {mapState} from 'vuex'
  import * as types from '../../store/mutation-types'
  import FlashMessage from '../partials/FlashMessage'

  import {
    QField,
    QBtn,
    QInput,
    QSpinner,
    QSpinnerRadio,
    QSpinnerHourglass,
    QSpinnerFacebook,
    QSpinnerGears,
    Toast,
    QAlert
  } from 'quasar'

  export default {
    components: {
      QField,
      QBtn,
      QInput,
      QSpinner,
      QSpinnerRadio,
      QSpinnerHourglass,
      QSpinnerFacebook,
      QSpinnerGears,
      Toast,
      QAlert,
      FlashMessage
    },
    beforeMount () {
      if (auth.isAuthenticated(this.$store)) {
        this.$router.push({name: 'admin'})
      }
    },
    data () {
      return {
        error: false,
        form: {
          email: 'owner@email.com',
          password: 'password'
        }
      }
    },
    computed: {
      ...mapState({
        authUser: state => state.authUser,
        flashMessage: state => state.flashMessage
      })
    },
    methods: {
      clearError () {
        this.error = false
      },
      handleLogin (event, done) {
        let vm = this
        vm.clearError()
        this.$v.form.$touch()
        if (this.$v.form.$error) {
          done()
          return false
        }
        let authUser = {}
        auth.getOAuth2Token(vm.form.email, vm.form.password).then((response) => {
          authUser.access_token = response.data.access_token
          authUser.refresh_token = response.data.refresh_token
          window.localStorage.setItem('authUser', JSON.stringify(authUser))
          // get user
          axios.get(env.GET_USER_URL, {headers: auth.getHeader()})
            .then(function (response) {
              authUser.email = response.data.email
              authUser.name = response.data.name
              authUser.roles = response.data
              window.localStorage.setItem('authUser', JSON.stringify(authUser))
              vm.$store.commit(types.SET_AUTH_USER, authUser)
              done()
              vm.$store.commit(types.SET_FLASH_MESSAGE, {displayed: false, message: 'Welcome', color: 'positive'})
              vm.$router.push({name: 'admin'})
            }).catch(error => {
              vm.error = error.toString()
              done()
            })
        }).catch(error => {
          if (_.has(error, 'response.status')) {
            if (error.response.status === 401) {
              vm.error = error.response.data.message
            }
            else {
              vm.error = error.toString()
            }
          }
          else {
            vm.error = error.toString()
          }
          done()
        })
      }
    },
    validations: {
      form: {
        email: {required, email},
        password: {required}
      }
    }
  }
</script>
