<template>
  <q-layout ref="layout" view="hHr LpR lFf" :right-breakpoint="1100">
    <!-- Header -->
    <q-toolbar slot="header" color="dark">
      <q-btn flat @click="$refs.layout.toggleLeft()">
        <q-icon name="fa-power-off"/>
      </q-btn>
      <q-toolbar-title>
        <router-link :to="{name: 'admin'}">Ticket System</router-link>
        <span slot="subtitle">Optional subtitle</span>
      </q-toolbar-title>
      <q-btn flat @click="handleLogout">
        <q-icon name="fa-power-off">
          <q-tooltip :offset="[10, 10]" self="center right" anchor="center left">
            Click to logout
          </q-tooltip>
        </q-icon>
      </q-btn>
    </q-toolbar>

    <q-scroll-area slot="left" style="width: 100%; height: 100%">
      <q-list-header>Navigation</q-list-header>
      <q-side-link item :to="{name: 'admin.manage-roles-permissions'}">
        <q-item-side icon="account circle"/>
        <q-item-main label="Play with Layout" sublabel="Learn more about it"/>
        <q-item-side right icon="thumb_up"/>
      </q-side-link>
    </q-scroll-area>

    <!-- Don't drop "q-app" class -->
    <div id="q-app">
      <flash-message></flash-message>
      <router-view/>
    </div>
  </q-layout>
</template>

<script>
  import adminLayoutConfig from './AdminLayoutConfig'
  import {logoutAuthUser} from '../../auth'
  import FlashMessage from '../partials/FlashMessage'
  import * as types from '../../store/mutation-types'

  import {
    QLayout,
    QToolbar,
    QToolbarTitle,
    QSearch,
    QTabs,
    QRouteTab,
    QBtn,
    QIcon,
    QItemSide,
    QItemMain,
    QSideLink,
    QListHeader,
    QScrollArea,
    QTooltip
  } from 'quasar'
  export default {
    mounted: function () {
    },
    components: {
      QLayout,
      QToolbar,
      QToolbarTitle,
      QSearch,
      QTabs,
      QRouteTab,
      QBtn,
      QIcon,
      QItemSide,
      QItemMain,
      QSideLink,
      QListHeader,
      QScrollArea,
      QTooltip,
      FlashMessage
    },
    data: function () {
      return {
        adminLayoutConfig
      }
    },
    methods: {
      handleLogout () {
        logoutAuthUser(this.$store)
        this.$store.commit(types.SET_FLASH_MESSAGE, {displayed: false, message: 'You have been logged out', color: 'warning'})
        this.$router.push({name: 'login'})
      }
    }
  }
</script>
