<template>
  <q-alert
    :type="flashMessage.type"
    :color="flashMessage.color"
    ref="destroyableAlert"
    enter="bounceInRight"
    leave="bounceOutLeft"
    v-if="isFlashMessageSet"
    dismissible
  >
    {{ flashMessage.message }}
  </q-alert>
</template>

<script>
  import {mapState, mapGetters} from 'vuex'
  import {QAlert} from 'quasar'
  import * as types from '../../store/mutation-types'

  export default {
    mounted () {
      if (this.isFlashMessageSet) {
        this.$store.commit(types.SET_FLASH_MESSAGE_DISPLAYED, true)
      }
    },
    components: {
      QAlert
    },
    data: function () {
      return {}
    },
    computed: mapState({
      flashMessage: state => state.flashMessage,
      ...mapGetters([
        'isFlashMessageSet'
      ])
    })
  }
</script>
