<template>
  <q-layout ref="layout" view="hHr LpR lFf" :right-breakpoint="1100">
    <!-- Header -->
    <q-toolbar slot="header">
      <q-btn flat @click="$refs.layout.toggleLeft()">
        <q-icon name="menu"/>
      </q-btn>
      <q-toolbar-title>
        Ticket System
        <span slot="subtitle">Optional subtitle</span>
      </q-toolbar-title>
      <q-btn flat>
        <router-link :to="{name: 'login'}" class="menu-link">
          <q-icon name="fa-user-circle"/>
          <q-tooltip :offset="[10, 10]" self="center right" anchor="center left">
            Click to login
          </q-tooltip>
        </router-link>
      </q-btn>
    </q-toolbar>

    <!-- Don't drop "q-app" class -->
    <div id="q-app">
      <router-view/>
    </div>
  </q-layout>
</template>

<script>
  import 'quasar-extras/fontawesome'

  import {
    QLayout,
    QToolbar,
    QBtn,
    QIcon,
    QToolbarTitle,
    QTooltip
  } from 'quasar'

  /*
   * Root component
   */
  export default {
    mounted () {

    },
    components: {
      QLayout,
      QToolbar,
      QToolbarTitle,
      QBtn,
      QIcon,
      QTooltip
    }
  }
</script>

<style>
  .menu-link {
    color: #FFF;
  }

  .menu-link:hover {
    color: #fff;
  }
</style>
